{% extends 'core/base.html' %}

{% block title %}Home | {% endblock %}
{% load static %}
{% block content %}
    <section class="hero">
       
        <div class="hero-body">
            <div class="container">
                <section class="section">
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            {% for post in posts %}
                                <div class="content is-medium">
                                    <a href="{% url 'post_detail' post.category.slug post.slug %}">
                                        {% if post.image %}
                                            <figure class="image">
                                                <img src="{{ post.image.url }}">
                                            </figure>
                                        {% endif %}

                                        <h2 class="subtitle is-4">{{ post.created_at|timesince }} ago</h2>
                                        <h1 class="title">{{ post.title }}</h1>
                                        <p>{{ post.intro }}</p>
                                    </a>
                                    <button class="like-button" data-post-id="{{ post.id }}" class="fb-share-button">Like</button>
                                    <span class="like-count">{{ post.likes }}</span>
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}&title={{ blog.title }}&description={{ blog.description }}" class="fb-share-button">
                                    Share on Facebook
                                </a>
                                <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ blog.title }}" class="twitter-share-button">
                                    <img src="{% static 'icon/twitter.png' %}" alt="Share on Twitter">
                                  </a>
                                  
                                <!-- Instagram share button -->
                                <a href="https://www.instagram.com/share?url={{ request.build_absolute_uri }}&title={{ blog.title }}" class="instagram-share-button">
                                    <img src="{% static 'images/instagram-icon.png' %}" alt="Share on Instagram">
                                </a>
                                
                                <!-- Koo share button -->
                                <a href="https://www.kooapp.com/share?url={{ request.build_absolute_uri }}&title={{ blog.title }}" class="koo-share-button">
                                    <img src="{% static 'images/koo-icon.png' %}" alt="Share on Koo">
                                </a>
                                
                                

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <style>
        .fb-share-button {
      display: inline-block;
      background-color: #3B5998;
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      border-radius: 5px;
      padding: 8px 15px;
      border: none;
      cursor: pointer;
    }
    
    .fb-share-button:hover {
      background-color: #2d4373;
    }
    
    .like-button {
      display: inline-block;
      background-color: #3B5998;
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      border-radius: 5px;
      padding: 8px 15px;
      border: none;
      cursor: pointer;
    }
    
    .like-button:hover {
      background-color: #2d4373;
    }
    
    </style>

    {% csrf_token %}

    <script>
     
  

$(document).ready(function() {
    $('.like-button').click(function() {
        var postId = $(this).data('post-id');
        var csrftoken = getCookie('csrftoken');
        $.ajax({
            type: 'POST',
            url: '{% url "post_like" post_id=0 %}'.replace('0', postId),
            data: {'csrfmiddlewaretoken': csrftoken},
            dataType: 'json',
            // success: function(data) {
            //     // Update the like count element with the new value
            //     $('.like-count[data-post-id=' + postId + ']').text(data.likes);
            // }
            success: function(data) {
                // Select the like count element that corresponds to the clicked button
                var likeCount = $('.like-button[data-post-id=' + postId + ']').siblings('.like-count');
                // Update the like count with the new value
                likeCount.text(data.likes);
            }

            


        });
    });
});




function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}






        </script>
{% endblock %}
